extends ./layout/index

block contenido
 main.container.mt-5  
  .row 
   .col-md-5 
    img(src="img/nosotros.jpg", alt="Imagen" , class="img-fluid")
   .col-md-7 
    h1 #{pagina}
    blockquote  Lorem ipsum dolor, sit amet consectetur  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus officiis, optio aspernatur omnis iusto dignissimos repellat quasi, cupiditate libero iste laborum sapiente ut sed sequi. Earum numquam consectetur totam nemo.
    p adipisicing elit. Mollitia, obcaecati perferendis ratione error voluptas, ipsam officia illo necessitatibus suscipit optio soluta neque quam modicorporis provident assumenda sapiente id nisi!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi possimus veritatis vel obcaecati voluptatem officiis, culpa laborum nulla iure voluptatum temporibus suscipit similique molestiae excepturi quisquam doloremque consectetur quos ullam!

 .listado-iconos  
  .container.mt-5.py-5.text-center 
   .row 
    .col-md-4
      img(src="img/icono_seguridad.svg" , alt="icono seguridad" , class="img-fluid mb-4")
      h2.mb-4 Seguridad 
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum omnis quidem provident cumque mollitia harum reiciendis quaerat nihil, iusto voluptatibus? Magnam voluptatem.
    .col-md-4
      img(src="img/icono_destinos.svg" , alt="icono seguridad" , class="img-fluid mb-4")
      h2.mb-4 Seguridad 
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum omnis quidem provident cumque mollitia harum reiciendis quaerat nihil, iusto voluptatibus? Magnam voluptatem.
    .col-md-4
      img(src="img/icono_precios.svg" , alt="icono seguridad" , class="img-fluid mb-4")
      h2.mb-4 Seguridad 
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum omnis quidem provident cumque mollitia harum reiciendis quaerat nihil, iusto voluptatibus? Magnam voluptatem.



